# Ignore node_modules and log files
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore build output
.next
out

# Ignore miscellaneous files
.DS_Store
.git
.gitignore
.vscode
.idea
*.swp

# Ignore Docker-related files
Dockerfile
docker-compose.yml
